/* Timer Component */
#timer{
    font-size: 2rem;
    width: 90dvw;
    height: 80dvh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Display Container */
#display{
    display: flex;
}

/* Time Holding Container */
.time_holder{
    display: flex;
    flex-direction: column;
}

/* Time Increasing/Decreasing Buttons */
.up_arr,.down_arr{
    background-color: inherit;
    color: rgb(154, 61, 216);
}

/* Functionality Buttons Holder */
#functionality{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
}

/* Increased/Decreased Time */
.xtra{
    opacity: 0.3;
}

/* Hiding Increased/Decreased Time */
.hide{
    visibility: hidden;
}

/* Functionality Buttons */
#functionality > button{
    box-shadow: 0px 0px 70px inset rgb(154, 61, 216);
}

/* Hovering for Functionality Buttons */
#functionlity > button:hover{
    box-shadow: 0 0 70px rgb(154, 61, 216);
    color: rgb(255, 0, 140);
}

@media (max-width : 425px){
    #timer{
        display: flex;
        flex-direction: column;
        width: 80dvw;
        height: 60dvh;
    }

    #functionality{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10dvh;
        justify-content: space-around;
        align-items: center;
    }

    #functionality > button{
        width : 23dvw;
        padding: 3px;
        height: 8dvh;
        font-size: 1rem;
    }
}