/* Universal Selector */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}

/* Functionality Buttons */
#functionality > button{
    box-shadow: 0px 0px 70px inset rgb(154, 61, 216);
}

/* Hovering for Functionality Buttons */
#functionlity > button:hover{
    box-shadow: 0 0 70px rgb(154, 61, 216);
    color: rgb(255, 0, 140);
}

/* Stopwatch Component */
#stopwatch{
    display: flex;
    width: 75dvw;
    height: 60.5dvh;
    justify-content: space-between;
}

/* Display Container */
#display{
    display: flex;
    width: 50dvw;
    height: 50dvh;
    justify-content: space-between;
    color: rgb(255, 0, 140);
}

/* Represented Time */
.time{
    display: flex;
    font-size: 3rem;
    height: 90%;
    flex-direction: column;
    justify-content: center;
}

/* Time Holding Container */
.time_holder{
    flex: 33%;
    height: inherit;
    display : flex;
    justify-content: space-around;
    align-items: center;
}

/* Time Separators */
.sep{
    font-size: 4rem;
}

/* Time Annotation */
.txt{
    margin-top: 85px;
}

/* Functionality Buttons Holder */
#functionality{
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
}

/* Catched Time Holder */
#catcher{
    width: 20dvw;
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    height : 50dvh;
    background-color: rgb(154, 61, 216);
    color : black;
    font-weight: 700;
    overflow-y: hidden;
}

/* Hovering for Catched Time Holder */
#catcher:hover{
    overflow-y : auto;
}

/* Scrollbar for Catched Time Holder */
#catcher::-webkit-scrollbar{
    width: 2px;
}

/* Scrollbar thumb for Catched Time Holder  */
#catcher::-webkit-scrollbar-thumb{
    background-color: rgb(154, 61, 216);
}

/* Scrollbar track for Catched Time Holder  */
#catcher::-webkit-scrollbar-track{
    background-color: black;
}

/* Catched Time */
.catches{
    font-size: 1.5rem;
    margin-top: 2dvh;
    position: relative;
    background-color: inherit;
}

/* Hovering for Catched Time Holder */
#catcher:hover{
    background-color: black;
    color: rgb(154, 61, 216);
}

/* Hovering for Catched Time */
.catches:hover{
    border: 2px solid rgb(154, 61, 216);
    border-radius: 10px;
    background-color: black;
    color: rgb(154, 61, 216);
}

/* Index Values of Catched Time*/
.indexing{
    position: absolute;
    left: 0.5dvw;
    bottom: 0.3dvh;
    font-size: 1rem;
    background-color: inherit;
}

@media (max-width : 425px){
    #stopwatch{
        display : flex;
        width: 80dvw;
        height: 70dvh;
        position: relative;
    }

    #info{
        width: inherit;
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #display{
        width: 100%;
        height: 20dvh;
        /* border: 1px solid white; */
        display: flex;
        justify-content: center;
    }

    .time_holder{
        height: 100%;
        flex: 33.3%;
    }

    .time{
        font-size:  1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 5px;
    }

    .txt{
        font-size: 0.8rem;
        margin: 0;
    }
    .sep{
        font-size: 1.5rem;
    }

    #functionality{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 10dvh;
        justify-content: space-around;
        align-items: center;
    }

    #functionality > button{
        width : 23dvw;
        padding: 3px;
        height: 8dvh;
        font-size: 1rem;
    }

    #catcher{
        position: absolute;
        bottom: 10dvh;
        height: 40dvh;
        width: 80dvw;
    }

    .indexing{
        font-size: 0.7rem;
    }
    .catches{
        font-size: 1rem;
        margin-top: 1dvh;
        position: relative;
        background-color: inherit;
    }
}
