*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
}
#functionality > button{
    box-shadow: 0px 0px 70px inset rgb(154, 61, 216);
}
#functionlity > button:hover{
    box-shadow: 0 0 70px rgb(154, 61, 216);
    color: rgb(255, 0, 140);
}
#stopwatch{
    display: flex;
    width: 75dvw;
    height: 60.5dvh;
    justify-content: space-between;
}
#display{
    display: flex;
    width: 50dvw;
    height: 50dvh;
    justify-content: space-between;
    color: rgb(255, 0, 140);
}
.time{
    display: flex;
    font-size: 3rem;
    height: 90%;
    flex-direction: column;
    justify-content: center;
}

.time_holder{
    flex: 33%;
    height: inherit;
    display : flex;
    justify-content: space-around;
    align-items: center;
}

.sep{
    font-size: 4rem;
}

.txt{
    margin-top: 85px;
}

#functionality{
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
}

#catcher{
    width: 20dvw;
    display: flex;
    flex-direction: column;
    gap: 2dvh;
    height : 50dvh;
    background-color: rgb(154, 61, 216);
    color : black;
    font-weight: 700;
    overflow-y: hidden;
}
#catcher:hover{
    overflow-y : auto;
}

#catcher::-webkit-scrollbar{
    width: 2px;
}
#catcher::-webkit-scrollbar-thumb{
    background-color: rgb(154, 61, 216);
}
#catcher::-webkit-scrollbar-track{
    background-color: black;
}

.catches{
    font-size: 1.5rem;
    margin-top: 2dvh;
    position: relative;
    background-color: inherit;
}

#catcher:hover{
    background-color: black;
    color: rgb(154, 61, 216);
}
.catches:hover{
    border: 2px solid rgb(154, 61, 216);
    border-radius: 10px;
    background-color: black;
    color: rgb(154, 61, 216);
}

.indexing{
    position: absolute;
    left: 0.5dvw;
    bottom: 0.3dvh;
    font-size: 1rem;
    background-color: inherit;
}