#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#hamburger{
  position: absolute;
  left : 1dvw;
  font-size: 3rem;
  top: 1dvh;
  color: rgb(255, 1, 179);
  cursor: pointer;
}


/* Swap Between Files & Folders */
#chooser{
  z-index: 1;
  position: absolute;
  border: 1px solid white;
  left: 0;
  top : 0;
  background-color: rgba(0, 0, 0,1);
  color: rgb(121, 0, 185);
  height: 100%;
  width: 13dvw;
  display : flex;
  flex-direction: column;
}

/* Files & Folder Buttons */
#chooser > p{
  margin-top: 2.5dvh;
  /* padding-left: 2dvw; */
  font-weight: 700;
  padding: 0.5rem;
  cursor: pointer;
}

/* Hovering For Files & Folder */
#chooser > p:hover{
  box-shadow: 2px 5px 10px  inset rgb(121, 0, 185);
  color: rgb(197, 143, 228);
}

@media (max-width : 425px){
  #hamburger{
    font-size: 1.5rem;
    left: 4dvw;
    top: 2dvh;
  }
  #chooser{
    width: 35dvw;
  }
}